@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(//fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Verdana;
}
header {
    border-top: solid 6px #f00;
    padding: 10px;
}
header img {
    width: 100px;
    margin-left: 10px;
}
h1 {
    display: none;
}
p a {
    border-bottom: 2px solid #666;
    color: inherit;
    text-decoration: none;
}
p a:hover { border-bottom-color: black; }
nav {
    margin-left: 16px;
}
nav li {
    display: inline-block;
    list-style-type: none;
}
nav a {
    padding: 10px 14px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
nav li:nth-child(1) a { background-color: #32e8ac; }
nav li:nth-child(2) a { background-color: #3286e8; }
nav li:nth-child(3) a { background-color: #f00; }
nav li:nth-child(4) a { background-color: #f0d548; }

nav a:hover {
    background: #eee;
}
main {
    padding: 20px;
    max-width: 12in;
}
h2 {
    font-size: 80px;
    margin-bottom: 30px;
}
main p {
    font-size: 30px;
    padding-bottom: 15px;
}
.typed-cursor {
    color: transparent;
    border-left: solid 3px black;
}
